@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500;600&display=swap');

header {width: 100%; height: 70px; background-color: rgba(255, 255, 255, 0.3); 
    margin: 0 auto; position: absolute; z-index: 3;}
@media (max-width:599px) {
    #wrap{width: 100%; height: auto; margin: 0 auto; }
    header .container{display: flex; justify-content: space-between; 
            align-items: center; width: 100%; height: 70px; margin: 0 auto; }
    .mini_nav{display: block; cursor: pointer;}
    
    
    .container .nexus_logo{width:200px; height: auto; padding: 20px;}
    header nav ul{background-color: rgba(255, 255, 255, 0.7);}
    header nav ul li a{color: rgb(61, 61, 61); display: block;
             padding:20px; font-family: 'M PLUS 1', sans-serif; text-align: right;}
    header nav ul li a:hover{background-color: #fff;}
    .nav_s{display: none;}


    footer{width: 100%; height: 300px; background-color: rgb(51, 51, 51); margin: 0 auto;
        display: flex; flex-direction: column; }
    footer #footer_box{width: 100%; display: flex; justify-content: space-between; margin: 0 auto; }
    footer .f_bottom{display: flex; flex-flow: column wrap; justify-content: space-around;
            width: 300px; height: 230px; padding-left: 50px; }
    footer .f_logo {background-image: url("../img/img-nexus-logo.png"); background-position: center; background-size: cover; 
    width: 100px; height: 30px; }
    footer p{font-family: 'Pretendard-Regular'; color:white; font-size: 12px;}

    #footer_box .f_right{width: 50%; height: 230px; display: flex; flex-direction: column;
                            justify-content: space-around; padding-top: 60px;}
    footer .line{width: 100%; height: 10px; border-top: 1px solid #666; }               
    footer .f_bottom_2{display: flex; align-items: center; justify-content: space-between;
    width: 100%; height: 70px; margin: 0 auto;}
    footer .f_bottom_2 p{line-height: 70px; padding-left: 50px;}
    footer .f_bottom_2 a{text-decoration: none; color: white; padding-right: 50px;
    font-family: 'Pretendard-Regular'; font-size: 12px; } 

}


@media (min-width:600px) {
    header{width: 100%; height: 70px; background-color: rgba(255, 255, 255, 0.3); 
    margin: 0 auto; position: absolute; z-index: 3;
    display: flex; justify-content: space-around; align-items: center;}
    .mini_nav{display: none;}
    .container{width: 1100px; margin: 0 auto; padding-top: 20px;
    display: flex; justify-content: space-between; align-items: center;}
    .container .nexus_logo{width:200px; height: auto; padding: 20px;}
    header nav ul{display: flex; justify-content: space-evenly;}
    header nav ul li a{color: rgb(61, 61, 61); padding-right: 30px; font-family: 'M PLUS 1', sans-serif;}


    footer{width: 100%; height: 300px; background-color: rgb(51, 51, 51); margin: 0 auto;
        display: flex; flex-direction: column; }
    footer #footer_box{width: 100%; display: flex; justify-content: space-between; margin: 0 auto; }
    footer .f_bottom{display: flex; flex-flow: column wrap; justify-content: space-around;
            width: 300px; height: 230px;  }
    footer .f_logo {background-image: url("../img/img-nexus-logo.png"); background-position: center; background-size: cover; 
    width: 100px; height: 30px; }
    footer p{font-family: 'Pretendard-Regular'; color:white; font-size: 12px;}

    #footer_box .f_right{width: 50%; height: 230px; display: flex; flex-direction: column;
                            justify-content: space-around; padding-top: 60px;}
    footer .line{width: 100%; height: 10px; border-top: 1px solid #666; }               
    footer .f_bottom_2{display: flex; align-items: center; justify-content: space-between;
    width: 100%; height: 70px; margin: 0 auto;}
    footer .f_bottom_2 p{line-height: 70px; }
    footer .f_bottom_2 a{text-decoration: none; color: white; padding-right: 50px;
    font-family: 'Pretendard-Regular'; font-size: 12px; }
}


@media (min-width:1100px) {
    header{width: 100%; height: 70px; background-color: rgba(255, 255, 255, 0.3); 
    margin: 0 auto; position: absolute; z-index: 3;
    display: flex; justify-content: space-around; align-items: center;}
    .mini_nav{display: none;}
    .container{width: 1100px; margin: 0 auto; padding-top: 20px;
    display: flex; justify-content: space-between; align-items: center;}
    .container .nexus_logo{width:200px; height: auto; padding: 20px;}
    header nav ul{display: flex; justify-content: space-evenly;}
    header nav ul li a{color: rgb(61, 61, 61); padding-right: 30px; font-family: 'M PLUS 1', sans-serif;}

    footer{width: 100%; height: 300px; background-color: rgb(51, 51, 51); margin: 0 auto;
        display: flex; flex-direction: column; }
    footer #footer_box{width: 1100px; display: flex; justify-content: space-between; margin: 0 auto; }
    footer .f_bottom{display: flex; flex-flow: column wrap; justify-content: space-around;
            width: 300px; height: 230px;  }
    footer .f_logo {background-image: url("../img/img-nexus-logo.png"); background-position: center; background-size: cover; 
    width: 100px; height: 30px; }
    footer p{font-family: 'Pretendard-Regular'; color:white; font-size: 12px;}

    #footer_box .f_right{width: 800px; height: 230px; display: flex; flex-direction: row;
                            justify-content: space-around; padding-top: 80px;}
    footer .line{width: 100%; height: 10px; border-top: 1px solid #666; }               
    footer .f_bottom_2{display: flex; align-items: center; justify-content: space-between;
    width: 1100px; height: 70px; margin: 0 auto;}
    footer .f_bottom_2 p{line-height: 70px; }
    footer .f_bottom_2 a{text-decoration: none; color: white; padding-right: 50px;
    font-family: 'Pretendard-Regular'; font-size: 12px; }   

}