@charset "UTF-8";
*{font-family: 'M PLUS 1', sans-serif;}

.slidewrap_fontana {width: 100%; height: 700px; 
    background: url("../img/fontanaArt_slide.jpg")fixed; 
    background-position: center; background-size: cover; filter: brightness(0.7);}
.fontana_title {position: relative;}
.fontana_title .box {width: 400px; height: 300px; 
    background-color: rgba(247, 247, 247, 0.3); position: absolute; top:50%; left: 50%;
    margin-top: -150px; margin-left: -200px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;}
.fontana_title h1 {font-family: 'Times New Roman', Times, serif;
text-align: center; font-size: 50px; color: white;}
.fontana_title p {font-family: 'Times New Roman', Times, serif;
font-size: 22px;}
.fontana_title a {padding: 10px 30px; margin-top: 20px; border: 1px solid #333;
    letter-spacing: 5px; font-family: 'M PLUS 1', sans-serif;
     color: #333; font-size: 1em; box-sizing: border-box;}
.fontana_title a:hover {background-color: rgb(0, 0, 0); 
    color: white; border: none; }

@media (max-width:599.9px) {
    .fontana_section1 {width: 100%; height: auto;  
        margin: 0 auto; display: flex; flex-direction: column;}
    .left_text {width: 90%; height: 200px; margin: 0 auto; 
        display: flex; flex-direction: column; padding-top: 40px;}
    .small_heading {color:orange; text-transform: uppercase;
        font-family: "Poppins", sans-serif; letter-spacing: 5px;
        }
    .left_text h3 {letter-spacing: 2px; font-family: 'M PLUS 1p', sans-serif; 
                    padding-bottom: 30px; }
    
    .right_text {width: 90%; height: 300px; display: flex;
    flex-direction: column; margin: 0 auto;}
    .right_text p {font-family: 'M PLUS 1', sans-serif; font-size: 15px;
                    line-height: 30px; color: #666; text-align: justify;
                    padding: 10px 0;}
    
    .fontana_section2 {width: 100%; height: 880px; margin: 0 auto; 
                        position: relative;}
    .img_2 {width: 100%; height: 690px; background:url("../img/img_branddetail_fontana_1@2x.jpg"); 
        background-position: center; background-repeat: no-repeat; background-size: cover; 
            ;  z-index: 1; }
    
    .text_2_box {width: 100%; position: absolute; left: 0; bottom: 0%; 
        z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_2_box p {text-align: center; font-size: 1.5em; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    .fontana_section3 {width: 100%; height: auto; margin: 0 auto;
                        display: flex; flex-direction: column;}
    .fontana_section3 .img_3_1 {width: 100%; height: 600px; background: url("../img/img_branddetail_fontana_2@2x.jpg");
        background-position: center; background-size: cover;}
    .img_3_2 {width: 100%; height: 600px; background: url("../img/img_branddetail_fontana_3@2x.jpg");
            background-position: center; background-size: cover;}
    
    .fontana_section4 {width: 90%; height: auto; margin: 50px auto; }
    .fontana_section4 video {width:100%; max-width:880px; height:auto;}
                
    .fontana_section5 {width: 100%; height: 760px; margin: 0 auto; position: relative;}
    .img_5 {width: 100%; height: 620px; 
        background: url("../img/img_branddetail_fontana_4@2x.jpg");
        background-position: center; background-size: cover;}
    .text_5_box {width: 100%; 
        position: absolute; left: 0; bottom: 0; z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_5_box p {text-align: center; font-size: 1.5em; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    
    .fontana_section6{width: 100%; height: 350px; margin: 0 auto; display: flex;}
    .fontana_section6 .right_text{width: 90%; padding-top: 20px;}
    
    .fontana_section7{width: 100%; height: 1700px; 
    display: flex; flex-direction: column; justify-content: center ;  }
    .imgbox_7{width: 100%; height: 820px; }
    .img_7{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_5.jpg");
        background-position: center; background-size: contain; background-repeat: no-repeat; }
    .img_7_2{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_6.jpg");
        background-position: center; background-size: cover; background-repeat: no-repeat; }
    
    .fontana_section8{width: 100%; height: 550px; margin: 0 auto;}
    .img_8{width: 100%; height: 400px; 
        background: url("../img/img_branddetail_fontana_7.jpg");
        background-position: center; background-size: cover;}
    .phototitle{margin-top: 20px; }
    
    
    .fontana_section9{width: 100%; height: 600px; margin: 0 auto;}
    .img_9{width: 100%; height: 400px; 
        background: url("../img/img-branddetail-fontana-8.jpg");
        background-position-x: -80px; background-size: cover;
        position: relative;}
    .text_9_box{width: 52%; height: auto;
    position: absolute; top:40%; left: 5%;}
    .text_9_box p{ font-size: 25px; color: rgb(240, 240, 240);
        font-family: 'Times New Roman', Times, serif; }
    
    .brand_summary{width: 100%; height: 500px; margin: 0 auto;}
    .brand_summary_h4{height: 80px; display: flex; align-items: center;
                }
    .brand_summary_h4 h4{font-size: 20px;}
    .brand_summary_row{display: flex; flex-direction: row; }
    
    .brand_summary_row div{width: 50%; border-bottom: 1px solid #666;
        padding: 20px; color:#666;}
    .brand_summary_row a{color:#666; border-bottom: 0.5px solid #666;}
}    


@media (min-width:600px) and (max-width:1099px) {
    .fontana_section1 {width: 100%; height: auto;  
        margin: 0 auto; display: flex; flex-direction: column;}
    .left_text {width: 90%; height: 200px; margin: 0 auto; 
        display: flex; flex-direction: column; padding-top: 40px;}
    .small_heading {color:orange; text-transform: uppercase;
        font-family: "Poppins", sans-serif; letter-spacing: 5px;
        }
    .left_text h3 {letter-spacing: 2px; font-family: 'M PLUS 1p', sans-serif; 
                    padding-bottom: 30px; }
    
    .right_text {width: 90%; height: auto; display: flex;
    flex-direction: column; margin: 0 auto;}
    .right_text p {font-family: 'M PLUS 1', sans-serif; font-size: 15px;
                    line-height: 30px; color: #666; text-align: justify;
                    padding: 10px 0;}
    
    .fontana_section2 {width: 100%; height: 600px; margin: 0 auto; 
                        position: relative; }
    .img_2 {width: 50%; height: 600px; margin-left: 50%; background:url("../img/img_branddetail_fontana_1@2x.jpg"); 
        background-position: center; background-repeat: no-repeat; background-size: cover; 
            ;  z-index: 0; }
    
    .text_2_box {width: 50%; position: absolute; left: 10%; top:15%; 
        z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_2_box p {text-align: center; font-size: 1.8em; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    .fontana_section3 {width: 100%; height: 600px; margin: 0 auto;
                        display: flex; flex-direction: row;}
    .fontana_section3 .img_3_1 {width: 50%; height: 600px; background: url("../img/img_branddetail_fontana_2@2x.jpg");
        background-position: center; background-size: cover;}
    .img_3_2 {width: 50%; height: 600px; background: url("../img/img_branddetail_fontana_3@2x.jpg");
            background-position: center; background-size: cover;}
    
    .fontana_section4 {width: 90%; height: auto; margin: 50px auto; }
    .fontana_section4 video {width:100%; max-width:880px; height:auto;}
                
    .fontana_section5 {width: 100%; height: 600px; margin: 0 auto; position: relative;}
    .img_5 {width: 50%; height: 600px; 
        background: url("../img/img_branddetail_fontana_4@2x.jpg");
        background-position: center; background-size: cover;}
    .text_5_box {width: 100%; 
        position: relative; left: 55%; top:25%; z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_5_box p {text-align: center; font-size: 35px; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    
    .fontana_section6{width: 100%; height: 280px; margin: 0 auto; display: flex;}
    .fontana_section6 .right_text{width: 90%; padding-top: 20px;}
    
    .fontana_section7{width: 100%; height: auto; 
    display: flex; justify-content: center ;  }
    .imgbox_7{min-width: 50%; height: 820px; }
    .img_7{width: 100%; height: 650px; 
        background: url("../img/img_branddetail_fontana_5.jpg");
        background-position: center; background-size: contain; background-repeat: no-repeat; }
    .img_7_2{width: 100%; height: 650px; 
        background: url("../img/img_branddetail_fontana_6.jpg");
        background-position: center; background-size: contain; background-repeat: no-repeat; }
    
    .fontana_section8{width: 100%; height: 900px; margin: 0 auto;}
    .img_8{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_7.jpg");
        background-position: center; background-size: cover;}
    .phototitle{margin-top: 20px; }
    
    
    .fontana_section9{width: 100%; height: 600px; margin: 0 auto;}
    .img_9{width: 100%; height: 400px; 
        background: url("../img/img-branddetail-fontana-8.jpg");
        background-position: left; background-size: cover;
        position: relative;}
    .text_9_box{width: 45%; height: auto;
    position: absolute; top:40%; left: 15px;}
    .text_9_box p{ font-size: 25px; color: rgb(241, 241, 241);
        font-family: 'Times New Roman', Times, serif; }
    
    .brand_summary{width: 100%; height: 500px; margin: 0 auto;}
    .brand_summary_h4{height: 80px; display: flex; align-items: center;
                }
    .brand_summary_h4 h4{font-size: 20px;}
    .brand_summary_row{display: flex; flex-direction: row; }
    
    .brand_summary_row div{width: 50%; border-bottom: 1px solid #666;
        padding: 20px; color:#666;}
    .brand_summary_row a{color:#666; border-bottom: 0.5px solid #666;}
}


@media (min-width:1100px) {
    .fontana_section1{width: 1100px; height: 300px;  
        margin: 0 auto; display: flex; align-items: center;}
    .left_text{width: 50%; height: 300px; padding-left: 10px; 
        display: flex; flex-direction: column; justify-content: space-evenly; }
    .small_heading{color:orange; text-transform: uppercase;
        font-family: "Poppins", sans-serif; letter-spacing: 5px;
        }
    .left_text h3{letter-spacing: 2px; font-family: 'M PLUS 1p', sans-serif; ; }
    
    .right_text{width: 50%; height: 300px; padding-left: 20px; display: flex;
    flex-direction: column; justify-content: space-evenly;}
    .right_text p{font-family: 'M PLUS 1', sans-serif; font-size: 15px;
                  line-height: 30px; color: #666; text-align: justify;}
    
    .fontana_section2{width: 1100px; height: 600px;  margin: 0 auto; position: relative; }
    .img_2{width: 50%; height: 600px; margin-left: 50%; background:url("../img/img_branddetail_fontana_1@2x.jpg"); 
        background-position: center; background-repeat: no-repeat; background-size: cover; 
         ;  z-index: 0; }
    
    .text_2_box{width: 100%; 
        position: relative; left: -450px; top:200px; z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_2_box p{text-align: center; font-size: 35px; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    .fontana_section3{width: 1100px; height: 600px; margin: 0 auto;
                      display: flex; flex-direction: row;}
    .fontana_section3 .img_3_1{width: 50%; height: 600px; background: url("../img/img_branddetail_fontana_2@2x.jpg");
        background-position: center; background-size: cover;}
    .img_3_2{width: 50%; height: 600px; background: url("../img/img_branddetail_fontana_3@2x.jpg");
            background-position: center; background-size: cover;}
    
    .fontana_section4{width: 1100px; height: auto; margin: 50px auto; }
    
    .fontana_section5{width: 1100px; height: 600px; margin: 0 auto; position: relative;}
    .img_5{width: 50%; height: 600px; 
        background: url("../img/img_branddetail_fontana_4@2x.jpg");
        background-position: center; background-size: cover;}
    .text_5_box{width: 100%; 
        position: relative; left: 450px; top:200px; z-index: 4; background-color: rgba(245, 245, 245, 0.562); }
    .text_5_box p{text-align: center; font-size: 35px; line-height: 50px;
        font-family: 'Times New Roman', Times, serif; padding: 20px; }
    
    
    .fontana_section6{width: 1100px; height: 400px; margin: 0 auto; display: flex;}
    .fontana_section6 .right_text{margin-left: 50%;}
    
    .fontana_section7{width: 1100px; height: 900px; margin: 0 auto;
    display: flex; justify-content: space-between;}
    .imgbox_7{width: 43%; height: 800px; }
    .img_7{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_5.jpg");
        background-position: center; background-size: cover;}
    .img_7_2{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_6.jpg");
        background-position: center; background-size: cover;}
    
    .fontana_section8{width: 1100px; height: 900px; margin: 0 auto;}
    .img_8{width: 100%; height: 700px; 
        background: url("../img/img_branddetail_fontana_7.jpg");
        background-position: center; background-size: cover;}
    .phototitle{margin-top: 20px; }
    
    
    .fontana_section9{width: 1100px; height: 600px; margin: 0 auto;}
    .img_9{width: 100%; height: 400px; 
        background: url("../img/img-branddetail-fontana-8.jpg");
        background-position: left; background-size: cover;
        position: relative;}
    .text_9_box{width: 40%; height: auto;
    position: absolute; top:50%; left: 15px;}
    .text_9_box p{ font-size: 25px; color: rgb(236, 236, 236);
        font-family: 'Times New Roman', Times, serif; }
    
    .brand_summary{width: 1100px; height: 500px; margin: 0 auto;}
    .brand_summary_h4{height: 80px; display: flex; align-items: center;
                }
    .brand_summary_h4 h4{font-size: 20px;}
    .brand_summary_row{display: flex; flex-direction: row; }
    
    .brand_summary_row div{width: 50%; border-bottom: 1px solid #666;
        padding: 20px; color:#666;}
    .brand_summary_row a{color:#666; border-bottom: 0.5px solid #666;}
}



